div.container {
  background-color: lavender;
}

div.card {
  height: 25rem;
}

#carouselExampleIndicators {
  size: max-auto;
}

body {
  background-color: lavender;
}

div.song{
  text-align:center;
}

.tr {
width:200px;
padding:4px;
}